body, html {
    height: 100%;

}
.headline {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 120px;
    letter-spacing: 2px;
    color: #d3ab55;
}
.headline-paragraph {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    color: #ccc;
}
a {
    color: #ccc;
}

.bg {
    /* The image used */
    background-image: url("http://bertucco.ddns.net/image/lydiajasmine/lydiajasmine015.jpg");
    margin-top: 0px;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 25% 0 100px;
    color: rgba(255, 255, 255, 0.5);
}


section {
    margin-top: 100px;
    margin-bottom: 80px;
    display: block;
}
.row {
    margin-left: 30px;
    margin-right: 30px;
}
.spazio {
    margin-bottom: 30px;
}
#evidence {
    height: 100%;
}
