body, html {
    height: 100%;

}
.headline {
    color: #1b1e21;
}
a {
    color: #1b1e21;
}

.bg {
    /* The image used */
    background-image: url("http://bertucco.ddns.net/image/lydiajasmine/lydiajasmine015.jpg");
    margin-top: 0px;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 25% 0 100px;
    color: rgba(255, 255, 255, 0.5);
}


section {
    margin-top: 100px;
    margin-bottom: 80px;
    display: block;
}
.row {
    margin-left: 30px;
    margin-right: 30px;
}
.spazio {
    margin-bottom: 30px;
}